.spinner {
  fill: white;

  .path {
    // background-color: white;
    stroke: white;

  }
}

.sidebarmenu {
  @include position(fixed, 0, 0);
  @include transition();
  @include innerspace(1rem);
  @include size(5vw, 100vh);
  background: color('white');
  transform: translateX(0%);
  display: flex;
  @include flex-center('both');
  z-index: 101;

  a {
    color: color('tertiary');
    display: block;
    font-weight: 600;
    margin-bottom: 2rem;
    text-decoration: none;

    &.add {
      color: lighten(color('tertiary'), 10%);
    }
  }

  &__inner {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    @include transition();

    .open & {
      opacity: 1;
      max-width: 300px;
    }
  }

  &.open {
    @include size(20vw, 100vh);
  }

  .navigation__trigger-wrapper {
    background: color('tertiary');
    @include size(60px);
    @include flex-center('both');
    border-radius: 50px;
    @include innerspace(1rem);
    position: absolute;
    left: calc(100% - 20px);
    top: calc(50% - 20px);
    // @include position(absolute, auto, 1.3rem, 0.8rem, auto);

    .navigation__trigger {
      span {
        background: color('white');
      }
    }
  }

  &__topbar {
    position: relative;
    background: lighten(#78BFBF, 5%);
    height: 3rem;
    border-bottom: 1px solid color('white');
  }

  &__user {
    @include position();
    @include innerspace(1rem);
    background: color('primary');
    height: 8rem;

    .title {
      text-align: center;
      color: color('white');
      font-family: $handwriting-font-face;
    }
  }

  &__user-image {
    @include size(4rem);
    @include position(absolute, 50%, auto, auto, -2rem);

    img {
      border: 2px solid color('white');
      border-radius: 200px;
      max-width: 100%;
      margin-left: -50%;
    }
  }
}
