.linklist {
  position: relative;
}

h3 {
  font-family: $heading-font-face;
  font-weight: 900;
  letter-spacing: 0;
}

.linkCards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  @include innerspace(2rem);

  @include mq("phone", "min") {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mq("tablet", "min") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq("desktop", "min") {
    grid-template-columns: repeat(4, 1fr);
  }
}

.spinnerWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index:3;
  @include flex-center('both');
}
